.main-nav {
  position: relative;
  z-index: 10;

  &__logo {
    width: 160px;
    margin-left: 20px;
    padding-top: 18px;
    padding-bottom: 60px;
    text-align: left;
  }

  &__logotype {
    vertical-align: top;
  }

  &__toggler {
    position: absolute;
    top: 45px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding: 0;
    font-size: 0;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &--opened &__toggler::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 5px;
    width: 40px;
    height: 4px;
    background-color: @color--white;
    transform: rotate(45deg);
  }

  &--opened &__toggler::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 5px;
    width: 40px;
    height: 4px;
    background: @color--white;
    transform: rotate(-45deg);
  }

  &--opened &__toggler::before,
  &--opened &__toggler::after {
    transition: all 0.2s ease-in;
  }

  &--closed &__toggler::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: @color--white;
    box-shadow: 0 10px 0 0 @color--white,
                0 20px 0 0 @color--white;
    transition: all 0.2s ease-in;
  }

  &__container {
    position: absolute;
    width: 100%;
    background-color: @color--lightblue;
  }

  &--closed &__container {
    display: none;
  }

  &--opened &__container {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: none;
  }

  &__user-block {
    order: 2;
  }

  &__list {
    order: -1;
  }

  &__item {
    border-top: 1px solid @color--white;

    &--border-bottom {
      border-bottom: 1px solid @color--white;
    }
  }

  &__link {
    display: block;
    width: 100%;
    padding-top: 28px;
    padding-bottom: 28px;
    font-family: @roboto;
    font-size: @font-size--tiny;
    font-weight: 700;
    line-height: @line-height--tiny;
    color: @color--white;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      color: rgba(255,255,255,0.6);
    }

    &:hover .main-nav__icon-login,
    &:hover .main-nav__icon-reg,
    &:hover .main-nav__icon-search {
      opacity: 0.6;
    }

    &:active {
      color: rgba(255,255,255,0.2);
    }

    &:active .main-nav__icon-login,
    &:active .main-nav__icon-reg,
    &:active .main-nav__icon-search {
      opacity: 0.2;
    }

    &--home {
      padding: 0;
    }

    &--search,
    &--reg,
    &--login {
      position: relative;
    }
  }

  &__icon-search,
  &__icon-reg,
  &__icon-login {
    position: absolute;
    left: 50%;
    transform: translateX(-80px);
    top: 30px;
    fill: #ffffff;
  }
}

@media @tablet-widths {
  .main-nav {
    &__logo {
      width: 271px;
    }

    &__link {
      &--home {
        text-align: start;
      }
    }

    &__toggler {
      top: 70px;
    }
  }
}

@media @desktop-widths {
  .main-nav {
    display: flex;
    flex-direction: row;
    padding-top: 36px;

    &__toggler {
      display: none;
    }

    &--closed &__container {
      display: block;
      position: relative;
    }

    &__item {
      border: none;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__user-block {
      width: 250px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__info {
      width: 320px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__list {
      border-top: 1px solid rgba(255,255,255,0.5);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__logo {
      margin-left: 0;
      margin-right: 82px;
      padding: 0;
    }

    &__link {
      padding-top: 14px;
      padding-bottom: 14px;
      font-size: @font-size--tiny;
      line-height: @line-height--tiny;
      font-weight: 500;

      &--phone {
        box-sizing: border-box;
        width: 135px;
        position: relative;
        padding-left: 22px;
        text-transform: none;
      }

      &--mail {
        box-sizing: border-box;
        width: 135px;
        position: relative;
        padding-left: 22px;
        text-transform: none;
      }

      &--search {
        text-transform: none;
        color: transparent;
      }

      &--login {
        text-transform: none;
      }

      &--reg {
        text-transform: none;
      }
    }

    &__icon-search,
    &__icon-reg,
    &__icon-login,
    &__icon-mail,
    &__icon-phone {
      width: 16px;
      height: 13px;
      position: absolute;
      top: 20px;
      left: 0;
      fill: #ffffff;
    }

    &__icon-search,
    &__icon-reg,
    &__icon-login {
      left: 54px;
    }
  }
}

