.page-header {
  position: relative;
  z-index: 10;

  min-height: 117px;

  background-color: @color--lightblue;

  &::before {
    content: "";
    position: absolute;
    bottom: -34px;

    width: 100%;
    height: 70px;

    background-image: data-uri("image/svg+xml;charset=UTF-8","../img/clouds-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media @desktop-widths {
  .page-header {
    min-height: 345px;

    &::before {
      bottom: 0;
      z-index: 11;
    }

    &__container {
      .container();
    }
  }
}
