.page-footer {
  position: relative;

  padding-top: 200px;

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 186px;

    background-color: #00a4d3;
    background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/clouds-bg.svg"), data-uri("image/svg+xml;charset=UTF-8", "../img/rainbow.svg");
    background-repeat: no-repeat;
    background-position: 95% 62px, top right;
    background-size: cover, 55% 95%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container();
  }

  &__links {
    margin-bottom: 10px;

    text-align: center;
  }

  &__link {
    display: block;
    width: 100%;

    font-weight: 600;
    font-size: @font-size--small;
    line-height: @line-height--tiny;
    font-family: @roboto;
    color: @color--lightblue;
    text-transform: uppercase;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }

    &--center {
      margin-bottom: 10px;

      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding-right: 20px;
    padding-left: 20px;

    color: @color--darkgrey;

    border: 1px solid @color--lightblue;
    outline: none;

    &:hover {
      opacity: 0.7;
    }
  }

  &__btn {
    width: 100%;
    margin-top: 10px;

    border: 0;
    outline: none;
  }

  &__block {
    margin-bottom: 40px;

    &--bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__text {
    color: @color--darkgrey;
    text-transform: uppercase;
  }

  &__sublink {
    font-weight: 500;
    font-size: @font-size--small;
    color: @color--darkgrey;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__quicklinks {
    margin-bottom: 20px;
  }

  &__insta-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__insta-item {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;

    background-color: @color--lightblue;
    border-radius: 27px;
  }

  &__copyright {
    margin-bottom: 10px;

    text-align: center;
    color: @color--darkgrey;
  }

  &__logo {
    margin-bottom: 10px;
  }

  &__social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__social-link {
    position: relative;

    display: block;
    width: 35px;
    height: 35px;

    background-color: transparent;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__icon-twitter,
  &__icon-youtube {
    position: absolute;
    bottom: -4px;
  }
}

@media @tablet-widths {
  .page-footer {
    &::before {
      height: 200px;

      background-position: 96% 67px,top right;
      background-size: cover,30% 123%;
    }

    &__link {
      font-size: @font-size--normal;
      line-height: @line-height--tiny;
    }

    &__text {
      font-size: @font-size--small;
    }

    &__copyright {
      font-size: @font-size--small;
    }
  }
}

@media @desktop-widths {
  .page-footer {
    &::before {
      height: 255px;

      background-position: -46px 137px,top right;
      background-size: 117%,30% 157%;
    }

    &__container {
      align-items: flex-start;
    }

    &__block {
      &--top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 60px;
      }

      &--middle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 16px;
      }

      &--bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }

    &__links {
      width: 196px;

      text-align: left;
    }

    &__link {
      font-size: @font-size--small;
      line-height: @line-height--small;
    }

    &__form {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__input {
      width: 380px;
      min-height: 50px;
      margin-right: 10px;
    }

    &__btn {
      width: 144px;
      margin: 0;
    }

    &__info {
      width: 265px;
      margin: 0;
    }

    &__text {
      &--address {
        margin-bottom: 36px;
      }
    }

    &__quicklinks {
      margin: 0;
    }

    &__insta-block {
      justify-content: space-between;
      align-items: flex-end;
      width: 410px;
    }

    &__insta-item {
      margin-right: 0;
      margin-bottom: 0;
    }

    &__link {
      &--center {
        align-self: flex-start;

        text-align: right;
      }
    }

    &__copyright {
      width: 400px;

      font-weight: 700;
      font-size: @font-size--tiny;
      line-height: @line-height--small;
      font-family: @robotoslab;
      text-align: left;
      color: @color--lightblue;
      text-transform: uppercase;
    }

    &__logo {
      width: 292px;
      margin-right: auto;
      margin-bottom: 0;
      margin-left: auto;
    }

    &__social-links {
      width: 310px;
    }
  }
}
