.slider {
  position: relative;

  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 168px;

  color: @color--lightblue;

  background-image: data-uri("image/svg+xml;charset=UTF-8", "../img/header-bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 23%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .container();
  }


  &__heading {
    margin: 0;

    font-weight: 700;
    font-size: @font-size--normal;
    line-height: @line-height--tiny;
    font-family: @dosis;
    text-align: center;
  }

  &__text {
    font-weight: 600;
    font-family: @dosis;
    text-align: center;
  }

  &__page {
    display: none;
    order: 1;
  }

  &__control {
    display: none;
  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 2;
    width: 80px;
    height: 10px;
  }

  &__label {
    display: block;
    width: 10px;
    height: 10px;

    background-color: transparent;
    border: 2px solid @color--lightblue;
    border-radius: 50%;

    &:hover {
      background-color: @color--lightblue;
    }
  }

  #slide-1:checked ~ &__controls &__label[for="slide-1"],
  #slide-2:checked ~ &__controls &__label[for="slide-2"],
  #slide-3:checked ~ &__controls &__label[for="slide-3"] {
    background-color: @color--lightblue;
  }

  #slide-1:checked ~ &__page--first {
    display: block;
  }

  #slide-2:checked ~ &__page--second {
    display: block;
  }

  #slide-3:checked ~ &__page--third {
    display: block;
  }

  &__images {
    position: relative;
  }

  &__image {
    overflow: hidden;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media @tablet-widths {
  .slider {
    &__heading {
      margin-bottom: 10px;

      font-size: @font-size--medium;
    }

    &__text {
      font-size: @font-size--normal;
    }
  }
}

@media @desktop-widths {
  .slider {
    margin-bottom: 0;
    padding-top: 200px;
    padding-bottom: 320px;

    background-position: 146% 100%;
    background-size: 77% 41%;

    &__container {
      position: relative;

      align-items: flex-end;
    }

    &__page {
      display: none;
      flex-direction: row;
      justify-content: flex-end;
      align-items: baseline;
    }

    &__controls {
      position: absolute;
      top: 316px;
      left: 218px;
      z-index: 100;
    }

    #slide-1:checked ~ &__page--first {
      display: flex;
    }

    #slide-2:checked ~ &__page--second {
      display: flex;
    }

    #slide-3:checked ~ &__page--third {
      display: flex;
    }

    &__images {
      position: absolute;
      top: -94px;
      left: 0;

      width: 500px;
    }

    &__description {
      width: 600px;
    }

    &__heading {
      margin-bottom: 20px;

      font-size: @font-size--huge;
      line-height: @line-height--huge;
    }

    &__text {
      font-size: @font-size--large;
      line-height: @line-height--huge;
    }
  }
}
