.teachers {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container();
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: @font-size--normal;
    font-family: @dosis;
    font-weight: 700;
    color: @color--lightblue;
    text-align: center;
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: @font-size--tiny;
    line-height: @line-height--tiny;
    font-family: @roboto;
    font-weight: 600;
    color: @color--black;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    position: relative;
    min-width: 260px;
    min-height: 260px;
    margin-bottom: 20px;
  }

  &__photo {
    vertical-align: top;
    &:nth-child(odd) {
      border-top-left-radius: 27px;
      border-top-right-radius: 27px;
    }

    &:nth-child(odd) {
      border-bottom-left-radius: 27px;
      border-bottom-right-radius: 27px;
    }
  }

  &__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 50px;
    background-color: @color--lightblue;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
  }

  &__name {
    font-size: @font-size--small;
    font-weight: 700;
    font-family: @dosis;
  }
}

@media @tablet-widths {
  .teachers {
    &__title {
      font-size: @font-size--medium;
      line-height: @line-height--tiny;
    }

    &__subtitle {
      font-size: @font-size--small;
    }

    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &__name {
      font-size: @font-size--medium;
    }

    &__post {
      font-size: @font-size--small;
    }
  }
}

@media @desktop-widths {
  .teachers {
    padding-top: 55px;

    &__title {
      text-align: left;
      font-size: @font-size--big;
      line-height: @line-height--medium;
    }

    &__subtitle {
      text-align: left;
    }

    &__heading {
      width: 555px;
      align-self: flex-start;
      margin-bottom: 40px;
    }

    &__list {
      justify-content: space-between;
    }

    &__item {
      width: 264px;
      margin-right: 10px;
    }

    &__name {
      font-size: @font-size--normal;
      line-height: @line-height--tiny;
    }

    &__post {
      font-size: @font-size--tiny;
      line-height: @line-height--tiny;
    }

    &__description {
      padding-top: 12px;
      align-items: baseline;
    }


  }
}
