//widths variables
@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";



//text variables
@roboto: Roboto, Arial, Helvetica, sans-serif;
@robotoslab: RobotoSlab, Arial, Helvetica, sans-serif;
@dosis: Dosis, OpenSans, sans-serif;

@font-size--tiny: 14px;
@line-height--tiny: 24px;

@font-size--small: 16px;
@line-height--small: 34px;

@font-size--normal: 24px;

@font-size--medium: 30px;
@line-height--medium: 46px;

@font-size--big: 36px;
@line-height--big: 56px;

@font-size--large: 48px;

@font-size--huge: 72px;
@line-height--huge: 60px;

//colors
@color--white: #ffffff;
@color--black: #000000;
@color--semiblack: #212121;
@color--grey: rgba(0,0,0,0.6);
@color--darkgrey: #333333;
@color--lightgrey: #808080;
@color--lightblue: #00a4d3;
@color--beige: #fafafa;
@color--grey-info: #f5f5f5;





